@charset "URL-8";
@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

:root{
    --cor1: #2E4159;
    --cor2: #19349E
}

html{
    font-size: 62.5%;
}

html, body{
    height: 100%;
}
body{
    font-size: 1.6rem;
}

header{
    background: rgb(26,47,92);
    background: linear-gradient(0deg, rgba(26,47,92,1) 25%, rgba(25,52,158,1) 80%);
    height: 120px;
    

}

header.container{
    display: flex;
    align-items: center;

    width: 90%;
    max-width: 1100px;
    margin: auto;

    position: fixed;
}

/*MENU PRINCIPAL*/
.menu-section > nav{
    position: absolute;
    text-align: center;
    top: 85px;
    left: 30%;
   

    

}

nav ul {
    display: flex;
}

nav ul li{
    list-style: none;
    
}

nav ul li a{
    font-family: 'Play', sans-serif;
    text-decoration: none;
    font-size: 1.8rem;
    color: white;
    text-align: center;
    margin-left: 40px;
    padding: 6px 10px;
    font-weight: bolder;   
}

nav ul li a:hover{
    background-color: rgba(255, 255, 255, 0.116);
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;

}

/*SUB MENU (Em Stand-By)*/
nav ul li .secundario li{
    margin-top: 20px;
}


nav ul li .secundario li a{
    color: white;
    padding: 20px;
    text-decoration: none;


}

nav ul ul{
    display: none;
}

nav ul li:hover ul{
    display: block;
    background-color: #1A2F5C;
    text-align: left;
    position: absolute;
    top: 35px;
    
}

/*----------------------------*/

.logo{
    position: relative;
}

.logo > img{
    position: relative;
    bottom: 62.5px;
    left: 25px;
    

}


/*CAIXA DE PESQUISA*/

.search-box{
    position: absolute;
    top: 90px;
    left: 85%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.842);
    height: 26px;
    width: 300px;
    border-radius: 20px;
    padding: 10px;
    

}

.search-btn{ 
    float: right;
    color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  
}

.search-text{ 
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 5px;
    color: black;
    font-size: 16px;
    width: 240px;
}
/*-------------------------------*/


/*NAV BAR RESPONSIVO MENU DROPDOWN*/
.check-btn{
    font-size: 30px;
    color: white;
    margin-right: 170px;
    float: right;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}



.search-btn-responsive{
    display: none;
}

@media(max-width: 1300px){
  .search-box{
    display: none;
  } 

  .search-btn-responsive{
    display: block;
    position: absolute;
    right: 30px;
    top: 85px;
    color: transparent;
  }

}



@media(max-width: 964px) {
    html{
        font-size: 60%;
    }

    nav > .navegation{
        top: 120px;
    }
}

@media(max-width: 858px) {
    .check-btn{
        display: block;
    }

    .material-icons{
        position: fixed;
        right: 100px;
    }

    .navegation, .search-box{
        display: none;
    }

    nav > .navegation{
        display: block;
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: var(--cor1);
        top: 125px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav .navegation li{
        margin: 50px;
        line-height: 30px;
    }

    nav .navegation li a{
        font-size: 20px;
    }

    #check:checked ~ .navegation{ /*CASO CLIQUE, A NEVAGAÇÂO APARECERÁ*/
        left: 0;
    }
   
}

@media(max-width: 790px) {
    html{
        font-size: 55%;
    }

    header{
        height: 125px;
    }      
}  

@media(max-width: 560px){
    .logo img{
        left: -10px;
        transition: .5s;
    }
}


@media(min-height: 500px){ /*Responsividade da LOGO*/
    .logo img{
        position: absolute;
        top: -60px;
    }

}