@charset "URL-8";
@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');


* {
    margin: 0px;
    padding: 0px;
}

:root{
    --cor1: #2E4159;
    --cor2: #19349E
}

html{
    font-size: 62.5%;
}

html, body{
    height: 100%;
}
body{
    font-size: 1.6rem;
}

header{
    background: rgb(26,47,92);
    background: linear-gradient(0deg, rgba(26,47,92,1) 25%, rgba(25,52,158,1) 90%);
    height: 120px;

}

header.container{
    display: flex;
    align-items: center;

    width: 90%;
    max-width: 1100px;
    margin: auto;

    position: fixed;
}

nav ul{
    display: flex;
}

nav ul li{
    list-style: none;
}

nav  ul  li a{
    font-family: 'Play', sans-serif;
    text-decoration: none;
    font-size: 1.8rem;
    color: white;
    text-align: center;
    margin-left: 40px;
    padding: 6px 10px;
    font-weight: bolder;
   
}

nav ul li a:hover{
    background-color: rgba(255, 255, 255, 0.116);
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;

}
.logo{
    position: relative;
}

.logo > img{
    position: relative;
    bottom: 62.5px;
    left: 20px;
    

}

.menu-section > nav{
    position: absolute;
    text-align: center;
    top: 90px;
    right: 70px;


}

@media(max-width: 964px) {
    html{
        font-size: 60%;
    }

}


@media(max-width: 790px) {
    html{
        font-size: 55%;
    }

    header{
        height: 125px;
    }

    .menu-section > nav{
        display: none;
      
    }

    
}

@media(min-height: 500px){
    .logo img{
        position: absolute;
        top: -60px;
    }
}